// variables
$website-width: 1280 px;
$main-color: #25a330;
$light-color: hsl(0, 0%, 73%);
$medium-color: rgba(199, 199, 199, 0.144);
$dark-color: rgb(253, 253, 253);
$bg-image: url("../img/bg3.jpg");
